$color: #E70126;
$label-font-size: 1em;

:host ::content {
  margin: 0 auto;
  display: block;
  clear: both;
}

#inputLabel, #nameField::-webkit-input-placeholder, #submitButton {
  font-family: 'roboto', sans-serif;
  transition: all 0.3s ease-in-out;
}

#nameField::-webkit-input-placeholder {
  font-size: 145px;
}

.formContent {
  box-sizing: border-box;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding-bottom: 2vh;
  border-radius: 1px;
  background-color: white;
  padding-top: 2vh;
  width: var(--form-width, 200px);
  height: var(--form-height, 220px);
}

#inputLabel {
  box-sizing: border-box;
  padding: 4%;
  height: var(--label-height, 80px);
  width: var(--form-width, 200px);
  font-size: 135%;
  background: darken($color, 4%);
  color: white;
  line-height: 150%;
  box-shadow: 0 2px 5px 1px rgba(0,0,0,0.2);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin: 0;
}

#nameField {
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
  width: 80%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
  background-position: -15vw 0;
  background-size:100%;
  background-repeat: no-repeat;
  color: darken($color, 20%);
  font-size: 135%;
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {
      color: $color;
      font-size: 11px;
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}

#textField {
  margin-left: auto;
  margin-right: auto;
  margin-top: 11%;
  width: 80%;
  display: block;
  border: none;
  padding: 5% 0;
  border-bottom: solid 1px $color;
  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%);
  background-repeat: no-repeat;
  color: darken($color, 20%);
  resize: none;
  font-size: 135%;
}

#submitButton {
  border: none;
  background: $color;
  cursor: pointer;
  border-radius: 3px;
  width: 65%;
  color: white;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  display: block;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
  font-size: 143%;
  &:hover { 
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
  }
}
