#demo-header {
  margin: 0 auto;
  background-color: #E70126;
  display: table;
  font-size: 1.5em;
  border-radius: 5px;
  width: 40vw;
  text-align: center;
  margin-top: 5vh;
  height: 10vh;
}

#submit {
  // width: 20.3vw;
  // height: 30vh;
  display: block;
  margin: 97px;
  margin-top: 16vh;
}

#column-1, #column-2, #column-3 {
  float: left;
  width: 33vw;
}

#disabledText {
  margin-left: 15vw;
  margin-top: 6.5vh;
  width: 20vw;
  height: 25vh;
  border: 0;
  font-size: 1.6em;
}

.demoToolTip {
  font-size: 2em;
  color: white;
  padding: 20px;
  padding-left: 0;
  margin-top: 4vh;
}
