
#demo-header {
  margin-left: 30%;
  background-color: #19A0CF;
  display: table;
  font-size: 1.5em;
  border-radius: 5px;
  width: 40vw;
  text-align: center;
}

#explorer {
  padding: 10px;
  width: 20vw;
  height: 10vh;
  background-color: #19A0CF;
  display: table;
  border-radius: 10px;
  margin-left: 29.5vw;
}

#submit {
  width: 20vw;
  margin-left: 29.5vw;
  float: left;
}

#submit ::content > * {
  float: left;
  margin-top: 10px;
  clear: left;
}

#submit ::content {
  input {
    width: 20vw;
    margin-top: 20px;
  }
  textarea {
    width: 20vw;
    height: 25vh;
    margin-top: 10px;
  }

  button {
    border-radius: 7px;
    background-color: #C10814;
    color: white;
  }
}
