<p id="demo-header">An example of <br> <code>&lt;gs-file-storage&gt;</code>:</p>

<div id="column-1">
  
  <gs-file-explorer class="fileExplorer" id="explorer-left" files={{files}}> </gs-file-explorer>

</div>

<div id="column-2">
  
  <gs-submit-file name-field={{fileDemo.name}} text-field={{fileDemo.content}} button-name="Save" id="submit"></gs-submit-file>

</div >


<div id="column-3">
  
  <gs-file-explorer class="fileExplorer" id="explorer-right" files={{files}}> </gs-file-explorer>

</div>



