<p id="demo-header">An example of <br> <code>&lt;gs-file-system&gt; and &lt;gs-file&gt;</code>:</p>

<div class="section group">

    <div class="col span_1_of_3">
    <h1 id="fileExplorerLabel">File Explorer</h1>
      <gs-file-explorer id="file-explorer" files="{{files}}"> 
      </gs-file-explorer> 
    </div>

    <div class="col span_2_of_3">
      <div class="demoToolTip" >
        <li> Create files in form</li>
        <br>
        <li> See them in File Exporer </li>
        <br>
        <li> Right click on file explorer file and open or remove</li>
        <br>
        <li> See opened file in form and edit them</li>
        <br>
        <li> Open others tab, and edit or remove files and see how change in others tabs</li>
      </div>

    </div >

    <div class="col span_3_of_3" >
      
      <gs-submit-file
        label="Open, Create and edit files."
        button-name="Save" 
        id="openedFileForm"
        class="submitFileForm"
        text-field="{{fileDemoText}}"
        name-field="{{fileDemoName}}"
        name-field="">
      </gs-submit-file>
    
    </div>


</div>

<div class="section group">
  <div class="col span_1_of_3">
      
  </div>
</div>