<p id="demo-header">An example of <br> <code>&lt;gs-file-storage&gt;</code>:</p>

  <div id="column-1">
    <h1 id="disabledLabel"> File change event listener. </h1>
    <textarea disabled id="disabledText"></textarea>
        
  </div>

  <div id="column-2">
    <gs-submit-file
      label="File name and content edit."
      name-field={{fileDemo.data.name}} 
      text-field={{fileDemo.data.content}} 
      button-name="Save" 
      id="submit">
    </gs-submit-file>

  </div >

  <div id="column-3" >
    <div class="demoToolTip" >
      <li>Change file content and see how the left textBox
      show the changes.
      </li>
      <li>
      Also refresh page and see last file content steel there.
      </li>
    <div>
  </div>

  <div id="column-1">

    <gs-file-explorer files="fileses"> 

    </gs-file-explorer>
    
  </div>